# Python bytecode files
__pycache__/
*.py[cod]

# Django-specific
*.sqlite3
db.sqlite3
media/

# Virtual environments
venv/

# Environment variables
.env
.env.*
*.env.*

# Log files
*.log

# VSCode settings
.vscode/

# Test output directories
.coverage
nosetests.xml
pytest_cache/

# Distribution/packaging directories
build/
dist/
*.egg-info/

# Node.js / JavaScript dependencies
node_modules/
bower_components/
jspm_packages/

# Node.js build and cache files
.cache
.next
.nuxt
.dist
*.tgz
yarn-debug.log*
npm-debug.log*

# Optional npm cache
.npm

# Optional Yarn cache
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml

# TypeScript cache (if used)
*.tsbuildinfo

# ESLint and Stylelint cache
.eslintcache
.stylelintcache

# Miscellaneous and IDE-specific files
.DS_Store
Thumbs.db
*.swp

# Serverless directories
.serverless/

# Coverage directories used by tools like istanbul
coverage
*.lcov

# Snowpack, Vite, and other modern JS build tools
.web_modules/
.parcel-cache

# Optional REPL history
.node_repl_history
